<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xushifei.authorization.server.mapper.ClientMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xushifei.authorization.server.entity.Client">
        <result column="id" property="id" />
        <result column="deleted" property="deleted" />
        <result column="sort" property="sort" />
        <result column="note" property="note" />
        <result column="client_id" property="clientId" />
        <result column="client_secret" property="clientSecret" />
        <result column="name" property="name" />
        <result column="redirect_uri" property="redirectUri" />
        <result column="is_admin" property="admin" />
        <result column="authentication_method" property="authenticationMethod" />
        <result column="authorization_grant_type" property="authorizationGrantType" />
        <result column="is_require_proof_key" property="requireProofKey" />
        <result column="is_authorization_consent" property="authorizationConsent" />
        <result column="access_token_time_to_live" property="accessTokenTimeToLive" />
        <result column="is_reuse_refresh_tokens" property="reuseRefreshTokens" />
        <result column="refresh_token_time_to_live" property="refreshTokenTimeToLive" />
        <result column="signature_algorithm" property="signatureAlgorithm" />
        <result column="type" property="type" />
        <result column="code" property="code" />
        <result column="status" property="status" />
        <result column="tenant_id" property="tenantId" />
        <result column="create_time" property="createTime" />
        <result column="creator_id" property="creatorId" />
        <result column="creator_name" property="creatorName" />
        <result column="modify_time" property="modifyTime" />
        <result column="modifier_id" property="modifierId" />
        <result column="modifier_name" property="modifierName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        deleted,
        sort,
        note,
        client_id, client_secret, `name`, redirect_uri, is_admin, authentication_method, authorization_grant_type, is_require_proof_key, is_authorization_consent, access_token_time_to_live, is_reuse_refresh_tokens, refresh_token_time_to_live, signature_algorithm, `type`, `code`, `status`, tenant_id, create_time, creator_id, creator_name, modify_time, modifier_id, modifier_name
    </sql>

</mapper>
